{% extends 'main.html' %}
{% load static %}
{% block main_section %}
    <header class="masthead" style="background-image: url('{% static 'site/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/blog/post/{{ post.slug }}">
                            <h2 class="post-title">{{ post.name }}</h2>
                            <h3 class="post-subtitle">{{ post.description }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            {{ post.created_by }} on {{ post.created_at }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4"/>
                {% endfor %}
                <!-- Pager-->
                {% if posts.has_previous %}
                    <div class="d-flex justify-content-start mb-4">
                        <a class="btn btn-primary text-uppercase" href="?page={{ posts.previous_page_number }}">← Oldingi sahifa</a>
                    </div>
                {% endif %}
                {% if posts.has_next %}
                    <div class="d-flex justify-content-end mb-4">
                            <a class="btn btn-primary text-uppercase" href="?page={{ posts.next_page_number }}">Keyingi sahifa →</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}